<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>LoginForm</servlet-name>
        <servlet-class>www.LoginForm</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ContactUs</servlet-name>
        <servlet-class>www.ContactUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AboutUs</servlet-name>
        <servlet-class>www.AboutUs</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginResponse</servlet-name>
        <servlet-class>www.LoginResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionAction</servlet-name>
        <servlet-class>www.SessionAction</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SessionResponse</servlet-name>
        <servlet-class>www.SessionResponse</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AllUsers</servlet-name>
        <servlet-class>www.AllUsers</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginForm</servlet-name>
        <url-pattern>/LoginForm</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ContactUs</servlet-name>
        <url-pattern>/ContactUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AboutUs</servlet-name>
        <url-pattern>/AboutUs</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginResponse</servlet-name>
        <url-pattern>/LoginResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionAction</servlet-name>
        <url-pattern>/SessionAction</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SessionResponse</servlet-name>
        <url-pattern>/SessionResponse</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AllUsers</servlet-name>
        <url-pattern>/AllUsers</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
